<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"> <!-- Устанавливает кодировку документа -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> <!-- Указывает браузеру использовать режим совместимости -->
    <title>Document</title> <!-- Заголовок документа -->
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/nav.css">
    <link rel="stylesheet" href="static/css/objects.css">
</head>
<body>
<nav class="nav"> <!-- Навигационная панель -->
    <div class="about-me"> <!-- Блок с информацией о пользователе -->
        <div class="logo"> <!-- Логотип -->
            <img src="static/img/img.png" alt=""> <!-- Изображение логотипа -->
        </div>
        <div class="base-info"> <!-- Основная информация о пользователе -->
            <div class="group-info"> <!-- Информация о группе -->
                <div class="group-text">
                    Группа: <b>ЭФБО-09-23</b> <!-- Название группы -->
                </div>
            </div>
            <div class="name"> <!-- Имя пользователя -->
                <div class="name-text">
                    Гусевский Даниил Алексеевич <!-- Полное имя -->
                </div>
            </div>
        </div>
    </div>
    <ul class="site-nav"> <!-- Ссылки навигации по сайту -->
        <li>
            <div class="nav-item"><a href="/" class="nav-item-text">Главная</a></div>
            <!-- Ссылка на главную страницу -->
        </li>
        <li>
            <div class="nav-item"><a href="/first" class="nav-item-text">Первый семестр</a></div>
            <!-- Ссылка на первый семестр -->
        </li>
        <li>
            <div class="nav-item"><a href="#" class="nav-item-text">Второй семестр</a></div>
            <!-- Ссылка на второй семестр -->
        </li>
        <li>
            <div class="nav-item"><a href="services" class="nav-item-text">Услуги</a></div> <!-- Ссылка на услуги -->
        </li>
        <li>
            <div class="nav-item"><a href="#" class="nav-item-text">Авторизация</a></div>
            <!-- Ссылка на авторизацию -->
        </li>
    </ul>

</nav>
<main>
    <aside class="page-nav"> <!-- Боковая навигация -->
        <div class="page-nav-item"><h2>Навигация по странице</h2></div> <!-- Заголовок боковой навигации -->
        <div class="aside-page-nav">
             <div class="page-nav-item"><a href="#" class="page-nav-text">Фронтенд</a></div> <!-- Ссылка на фронтенд -->
        <div class="page-nav-item"><a href="#" class="page-nav-text">Бэкэнд</a></div> <!-- Ссылка на бэкэнд -->
        </div>

    </aside>
    <div class="site-wrapper"> <!-- Основной контент сайта -->

        <div class="about-me-info"> <!-- Информация о пользователе -->
            <div class="about-me-text"> <!-- Текст о пользователе -->
                <div class="hello"> <!-- Приветствие -->
                    <div class="hello-text">
                        <h2>
                            Добро пожаловать на мой сайт <!-- Заголовок приветствия -->
                        </h2>
                    </div>
                </div>
                <div class="text-about-me">
                    Меня зовут Даниил и я начинающий специалист по веб разработке <!-- Описание пользователя -->
                </div>
            </div>

            <div class="my-photo-wrapper"> <!-- Обертка для фотографии -->
                <figure>
                    <img src="static/img/img_1.png" alt="" class="my-photo"> <!-- Фотография пользователя -->
                </figure>
            </div>
        </div>
        <div class="front"> <!-- Раздел о фронтенде -->
            <div class="header">
                <h3>
                    Фронтенд <!-- Заголовок раздела -->
                </h3>
            </div>
            <div class="text">
                Фронтенд (или клиентская часть) — это то, что видит пользователь. Он включает в себя все визуальные
                элементы
                веб-сайта или приложения: кнопки, формы, изображения и текст.
                Фронтенд разработчики используют языки разметки и стилизации, такие как HTML, CSS и JavaScript, чтобы
                создавать интерактивные и привлекательные интерфейсы. Основная задача фронтенда —
                обеспечить удобство использования и эстетическую привлекательность.
            </div>
            <object data="static/videos/v1.mp4" class="video"></object>
        </div>
        <div class="back"> <!-- Раздел о бэкэнде -->
            <div class="header">
                <h3>
                    Бэкэнд <!-- Заголовок раздела -->
                </h3>
            </div>
            <div class="text">
                Бэкенд (или серверная часть) — это "за кулисами" веб-приложения. Он отвечает за обработку данных,
                управление
                пользователями и взаимодействие с базами данных.
                Бэкенд разработчики используют языки программирования, такие как Python, Ruby, Java или PHP, а также
                фреймворки и базы данных для создания логики приложения.
                Основная задача бэкенда — обеспечить стабильную работу приложения и безопасность данных.
            </div>
            <object data="static/videos/v2.mp4" type="" class="video"></object>
        </div>
    </div>
</main>
<footer>
    <div class="site-owner-info">
        © Гусевский Даниил Алексеевич, 2024 <!-- Информация о владельце сайта -->
    </div>
    <div class="social-links"> <!-- Социальные ссылки -->
        <ul class="social-link">
            <li>
                <img src="static/img/vk_logo.png" alt="vk" class="social-link_img">
                <!-- Логотип социальной сети ВКонтакте -->
            </li>
        </ul>
    </div>
</footer>
</body>
</html>